[submodule "src/third_party/elphelphg"]
	path = src/third_party/elphelphg
	url = https://github.com/FoxelSA/elphelphg.git
[submodule "src/third_party/libfastcal"]
	path = src/third_party/libfastcal
	url = https://github.com/FoxelSA/libfastcal.git
